/* Footer */

footer {
    background-image: url(../img/fondo-autofram\ \(1\).png);
    background-color: map-get($colores, color-1);
    color: map-get($colores, color-2);
    border-top: 1px solid map-get($colores, color-5);
    .footer__logo {
        margin: 0px 0px 10px 0px;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 15px 15px 15px map-get($colores, color-3);
        &:hover {
            color: map-get($colores, color-3);
        }
    }
    .footer__texto {
        margin-bottom: 0px;
        text-transform: uppercase;
        h4 {
            line-height: 1.5;
        }
        
    }
}

