/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(6, auto) 275px;
  grid-template-columns: auto 1200px auto;
  grid-template-areas: "grid-2 grid-1 grid-8" "grid-2 grid-3 grid-8" "grid-2 grid-4 grid-8" "grid-2 grid-5 grid-8" "grid-2 grid-6 grid-8" "grid-2 grid-7 grid-8" "grid-2 grid-9 grid-8";

  a {
    text-decoration: none;
    color: map-get($colores, color-2);
  }

  /* Aside */
  aside {
    background-image: url(../img/fondo-autofram\ \(1\).png);
    background-color: map-get($colores, color-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .aside-1 {
    border-right: 1px solid map-get($colores, color-5);
  }

  .aside-2 {
    border-left: 1px solid map-get($colores, color-5);
  }

  /* Main */
  main {
    background-image: url(../img/fondo-autofram\ \(1\).png);
    background-color: map-get($colores, color-4);
    color: map-get($colores, color-2);

    .main__titulo {
      padding: 30px 0px 30px 0px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .container-fluid {
        background-image: url(../img/fondo-autofram\ \(1\).png);
        margin: -10px -5px -10px 0px; 
        background-color: map-get($colores, color-4);
        .form-control {
          background-color: map-get($colores, color-2);
          color: map-get($colores, color-3);
        }
        button {
          background-color: map-get($colores, color-6);
          color: map-get($colores, color-2);
          border: 1px solid map-get($colores, color-2);
          box-shadow: 15px 15px 15px map-get($colores, color-3);
          &:hover {
            background-color: map-get($colores, color-2);
            color: map-get($colores, color-6);
            border: 1px solid map-get($colores, color-6);
          }
        }
      }
    }
  }
}