/* Header */

header {
  width: 100%;
  background-image: url(../img/fondo-autofram\ \(1\).png);
  background-color: map-get($colores, color-1);
  color: map-get($colores, color-3);
  border-bottom: 1px solid map-get($colores, color-5);

  .header__contenedor {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
    align-items: center;

    .contenedor__logo {
      font-weight: bold;
      margin: 10px 30px 15px 30px;
      text-shadow: 15px 15px 15px map-get($colores, color-3);

      &:hover {
        color: map-get($colores, color-3);
      }
    }

    .contenedor__svg {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 0px 30px 0px 30px;
      .svg {
        height: 50px;
        width: 50px;
        color: map-get($colores, color-2);
        &:hover {
          scale: 1.2;
        }
      }
    }
    .navbar {
      padding: 0px;
      text-align: center;
      margin: 0px 30px 0px 30px;
  
      .container-fluid {
        background-image: url(../img/fondo-autofram\ \(1\).png);
        background-color: map-get($colores, color-1);
  
        .navbar-toggler {
          background-color: map-get($colores, color-2);
        }

        .navbar-nav {
          position: absolute;
          text-align: center;
          z-index: 3;
        }
  
        .nav-link {
          color: map-get($colores, color-2);
          text-decoration: none;
          font-size: map-get($sizes, size-h4);
          text-transform: uppercase;
          padding: 10px 20px 10px 20px;
          margin-left: -64px;
          background-color: map-get($colores, color-1);
          overflow: visible;
          background-image: url(../img/fondo-autofram\ \(1\).png);
  
          &:hover {
            color: map-get($colores, color-5);
          }
        }
  
        nav ul li {
          list-style: none;
        }
      }
    }
  }

  


  .carousel {
    width: 100%;
    .carousel__foto {
      width: 100%;
      aspect-ratio: 4/3;
    }
  }
}