/* Maps */
/* Colores */

$colores: (
    color-1: $color1,
    color-2: $color2,
    color-3: $color3,
    color-4: $color4,
    color-5: $color5,
    color-6: $color6,
);

/* Sizes */

$sizes: (
    size-h1: $size1,
    size-h2: $size2,
    size-h3: $size3,
    size-h4: $size4,
    size-h5: $size5,
);

/* Aspect-Ratios */

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);