/* Mobile */
/* Mixins */

@mixin mobile ($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        body {
            grid-template-rows: repeat(7, auto);
            grid-template-columns: 100%;
            grid-template-areas:
                "grid-1"
                "grid-3"
                "grid-4"
                "grid-5"
                "grid-6"
                "grid-7"
                "grid-9"
            ;
        }

        @content;
    }
}

/* 360px & 399px */

@include mobile(360px, 399px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #nosotros .nosotros .carousel {
        width: 300px;
        height: 300px;
        margin: 0px 0px 30px 0px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        height: 300px;
        width: 300px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 300px;
        height: 300px;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 125px;
        width: 125px;
    }

    #servicios .servicios .carousel {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .servicios__texto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .servicios__texto .texto__2 ul li h5 {
        line-height: 1;
    }

    #sucursales .allsucursales {
        margin: 0px 0px 0px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 0px 30px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 300px;
        height: 150px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 300px;
        height: 150px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 150px;
    }

    #contacto .allcontacto .formulario #textarea, #contacto .allcontacto .formulario #mail {
        width: 300px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 300px;
        height: 300px;
    }

    #contacto .carousel .carousel__foto {
        height: 300px;
        width: 300px;
    }

    #contacto .main__titulo {
        display: inline-block
    }
}

/* 400px & 459px */

@include mobile(400px, 459px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }
    header .header__nav .nav__carro {
        margin: -5px 0px 10px 30px;
    }

    /* Main */
    #nosotros .nosotros .carousel {
        width: 350px;
        height: 350px;
        margin: 0px 0px 30px 0px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        height: 350px;
        width: 350px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 350px;
        height: 350px;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 150px;
        width: 150px;
    }

    #servicios .servicios .carousel {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .servicios__texto {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .servicios__texto .texto__2 ul li h5 {
        line-height: 1;
    }

    #sucursales .allsucursales {
        margin: 0px 0px 0px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 0px 30px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 350px;
        height: 175px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 350px;
        height: 175px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 200px;
      }

    #contacto .allcontacto .formulario #textarea, #contacto .allcontacto .formulario #mail {
        width: 350px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 350px;
        height: 350px;
    }

    #contacto .carousel .carousel__foto {
        height: 350px;
        width: 350px;
    }
}

/* 460px & 509px */

@include mobile(460px, 509px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #nosotros .nosotros .carousel {
        width: 400px;
        height: 400px;
        margin: 0px 0px 30px 0px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        height: 400px;
        width: 400px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 400px;
        height: 400px;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 175px;
        width: 175px;
    }

    #servicios .servicios .carousel {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .servicios__texto {
        width: 400px;
        height: 400px;
    }

    #sucursales .allsucursales {
        margin: 0px 0px 0px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 0px 30px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 400px;
        height: 200px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 400px;
        height: 200px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 250px;
    }

    #contacto .allcontacto .formulario #textarea, #contacto .allcontacto .formulario #mail {
        width: 400px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 400px;
        height: 400px;
    }

    #contacto .carousel .carousel__foto {
        height: 400px;
        width: 400px;
    }
}

/* 510px & 560px */

@include mobile(510px, 560px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #nosotros .nosotros .carousel {
        width: 450px;
        height: 450px;
        margin: 0px 0px 30px 0px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        height: 450px;
        width: 450px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 450px;
        height: 450px;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 200px;
        width: 200px;
    }

    #servicios .servicios .carousel {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .servicios__texto {
        width: 450px;
        height: 450px;
    }

    #sucursales .allsucursales {
        margin: 0px 0px 0px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 0px 30px 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 450px;
        height: 225px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 450px;
        height: 225px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 300px;
    }

    #contacto .allcontacto .formulario #textarea, #contacto .allcontacto .formulario #mail {
        width: 450px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 450px;
        height: 450px;
    }

    #contacto .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }
}

/* 561px & 569px */

@include mobile(561px, 569px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */

    #nosotros .nosotros .carousel {
        width: 450px;
        height: 450px;
        margin: 0px 0px 30px 0px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        height: 450px;
        width: 450px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 450px;
        height: 450px;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 200px;
        width: 200px;
    }

    #servicios .servicios .carousel {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .servicios__texto {
        width: 450px;
        height: 450px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 450px;
        height: 225px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 450px;
        height: 225px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin-bottom: 30px;
    }

    #sucursales .allsucursales {
        margin-bottom: 0px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 450px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 300px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 450px;
        height: 450px;
    }

    #contacto .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }
}

/* 570px & 659px */

@include mobile(570px, 659px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #sucursales .allsucursales {
        margin-bottom: 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin-bottom: 30px;
    }

    #contacto .main-4__all-contacto .formulario {
        margin: 0px 0px 30px 0px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
    }
}

/* 660px & 730px */

@include mobile(660px, 730px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #productos .allproducto .allproducto__producto {
        display: inline-block;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 125px;
        width: 125px;
    }

    #nosotros .nosotros .carousel {
        width: 300px;
        height: 300px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .carousel {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .servicios__texto {
        width: 300px;
        height: 300px;
    }

    #sucursales .allsucursales {
        margin-bottom: 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin-bottom: 30px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 300px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 160px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 300px;
        height: 300px;
    }

    #contacto .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }
}

/* 731px & 869px */

@include mobile(731px, 869px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #productos .allproducto .allproducto__producto {
        display: inline-block;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 125px;
        width: 125px;
    }

    #nosotros .nosotros .carousel {
        width: 300px;
        height: 300px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .carousel {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }

    #servicios .servicios .servicios__texto {
        width: 300px;
        height: 300px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 300px;
        height: 150px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 300px;
        height: 150px;
    }

    #sucursales .allsucursales {
        margin-bottom: 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin-bottom: 30px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 300px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 160px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 300px;
        height: 300px;
    }

    #contacto .carousel .carousel__foto {
        width: 300px;
        height: 300px;
    }
}

/* 870px & 879px */

@include mobile(870px, 879px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #productos .allproducto {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #productos .allproducto .allproducto__producto .producto__foto {
        height: 150px;
        width: 150px;
    }

    #nosotros .nosotros .carousel {
        width: 350px;
        height: 350px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 350px;
        height: 350px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .carousel {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 350px;
        height: 350px;
    }

    #servicios .servicios .servicios__texto {
        width: 350px;
        height: 350px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 350px;
        height: 175px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 350px;
        height: 175px;
    }

    #sucursales .allsucursales {
        margin-bottom: 0px;
    }

    #sucursales .allsucursales .allsucursales__sucursales {
        margin-bottom: 30px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 350px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 210px;
    }

    #contacto .carousel {
        margin: 0px 0px 30px 0px;
        width: 350px;
        height: 350px;
    }

    #contacto .carousel .carousel__foto {
        width: 350px;
        height: 350px;
    }
}

/* 880px & 991px */

@include mobile(880px, 991px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    header .header__nav .nav__carro {
        margin: 0px 0px 10px 30px;
    }

    /* Main */
    #productos .allproducto .allproducto__producto .producto__foto {
        height: 175px;
        width: 175px;
    }

    #nosotros .nosotros .carousel {
        width: 400px;
        height: 400px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .carousel {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .servicios__texto {
        width: 400px;
        height: 400px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 400px;
        height: 200px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 400px;
        height: 200px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 400px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 250px;
    }

    #contacto .carousel {
        width: 400px;
        height: 400px;
    }

    #contacto .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }
}

/* 992px & 999px */

@include mobile(992px, 999px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }

    /* Main */
    #productos .allproducto .allproducto__producto .producto__foto {
        height: 175px;
        width: 175px;
    }

    #nosotros .nosotros .carousel {
        width: 400px;
        height: 400px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .carousel {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }

    #servicios .servicios .servicios__texto {
        width: 400px;
        height: 400px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 400px;
        height: 200px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 400px;
        height: 200px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 400px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 250px;
    }

    #contacto .carousel {
        width: 400px;
        height: 400px;
    }

    #contacto .carousel .carousel__foto {
        width: 400px;
        height: 400px;
    }
}

/* 1000px & 1090px */

@include mobile(1000px, 1090px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }


    /* Main */
    #productos .allproducto .allproducto__producto .producto__foto {
        height: 175px;
        width: 175px;
    }

    #nosotros .nosotros .carousel {
        width: 450px;
        height: 450px;
    }

    #nosotros .nosotros .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }

    #nosotros .nosotros .nosotros__texto {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .carousel {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }

    #servicios .servicios .servicios__texto {
        width: 450px;
        height: 450px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__foto {
        width: 450px;
        height: 225px;
    }

    #sucursales .allsucursales .allsucursales__sucursales .sucursales__mapa {
        width: 450px;
        height: 225px;
    }

    #contacto .allcontacto .formulario #textarea,
    #contacto .allcontacto .formulario #mail {
        width: 450px;
    }

    #contacto .allcontacto .formulario #textarea {
        height: 300px;
    }

    #contacto .carousel {
        width: 450px;
        height: 450px;
    }

    #contacto .carousel .carousel__foto {
        width: 450px;
        height: 450px;
    }
}

/* 1091px & 1200px */

@include mobile(1091px, 1200px) {

    /* Header */
    header .header__logo {
        margin: 10px 0px 10px 0px;
    }

    header .header__nav {
        justify-content: center;
        align-items: center;
    }
}

/* The End, by lubiano83 */