/* Mobile */
/* Mixins */

@mixin mobile ($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        body {
            grid-template-rows: repeat(7, auto);
            grid-template-columns: 100vw;
            grid-template-areas:
                "grid-1"
                "grid-3"
                "grid-4"
                "grid-5"
                "grid-6"
                "grid-7"
                "grid-9"
            ;
        }

        @content;
    }
}

/* 360px & 399px */

@include mobile(360px, 399px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 0px 30px 0px;
    }
    header .header__contenedor .contenedor__svg {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .main__titulo {
        display: inline-block
    }
}

/* 400px & 459px */

@include mobile(400px, 459px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    header .header__contenedor .contenedor__svg {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 460px & 509px */

@include mobile(460px, 509px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    header .header__contenedor .contenedor__svg {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 510px & 560px */

@include mobile(510px, 560px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    header .header__contenedor .contenedor__svg {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 561px & 569px */

@include mobile(561px, 579px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    header .header__contenedor .contenedor__svg {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 580px & 659px */

@include mobile(580px, 659px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    /* Nosotros */
    #nosotros .nosotros .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #nosotros .nosotros .nosotros__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
    /* Servicios */
    #servicios .servicios .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #servicios .servicios .servicios__texto {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    /* Contacto */
    #contacto .allcontacto .formulario {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
    #contacto .allcontacto .carousel {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 660px & 667px */

@include mobile(660px, 667px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        margin: 0px 30px 30px 30px;
        width: 80%;
    }
}

/* 668px & 683px */

@include mobile(668px, 683px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 684px & 720px */

@include mobile(684px, 720px) {

    /* Header */
    header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }

    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 721px & 732px */

@include mobile(721px, 732px) {

    /* Sucursales */
    #sucursales .allsucursales {
        flex-flow: column wrap;
        margin-bottom: 0px;
    }
    #sucursales .allsucursales .allsucursales__sucursales {
        width: 80%;
        margin: 0px 30px 30px 30px;
    }
}

/* 733px & 1200px */

@include mobile(733px, 1200px) {}

/* The End, by lubiano83 */