/* Nosotros */

#nosotros {
    background-color: map-get($colores, color-3);
  
    .nosotros {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
  
      .carousel {
        margin: 0px 15px 30px 15px;
        width: 500px;
        aspect-ratio: 1/1;
        box-shadow: 15px 15px 15px map-get($colores, color-5);
        .carousel__foto {
          width: 100%;
          aspect-ratio: 1/1;
        }
      }
  
      .nosotros__texto {
        width: 500px;
        aspect-ratio: 1/1;
        overflow-y: scroll;
        text-align: justify;
        margin: 0px 15px 30px 15px;
  
        .texto__1,
        .texto__2 {
          margin-right: 30px;
        }
  
        .texto__2 {
          margin-top: 30px;
        }
      }
    }
}