/* Productos */

#productos {
    background-color: map-get($colores, color-4);
  
    .allproducto {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
  
      .allproducto__producto {
        margin: 0px 20px 10px 20px;
  
        .producto__foto {
          height: 200px;
          width: 225px;
          object-fit: fill;
          box-shadow: 15px 15px 15px map-get($colores, color-3);
  
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
}