/* Productos */

#productos {
  background-color: map-get($colores, color-4);
  .allproducto {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    .allproducto__producto {
      max-width: 225px;
      min-width: 125px;
      width: 20%;
      aspect-ratio: 1/1;
      margin: 0px 15px 15px 15px;
    }

    .producto__foto {
      aspect-ratio: 1/1;
      width: 100%;
      box-shadow: 15px 15px 15px map-get($colores, color-3);
      

      &:hover {
        scale: 1.1;
      }
    }
  }
}