/* Variables */
/* Colores */

$color1: #ff6f00;
$color2: #FFF7F0;
$color3: #402e32;
$color4: #b5876d;
$color5: black;
$color6: #528AFF;

/* Sizes */

$size1: 64px;
$size2: 48px;
$size3: 36px;
$size4: 20px;
$size5: 16px;

